@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
  font-size: 18px;
    font-family: "OpenSansLight", sans-serif;
}
img{
    width: 100%;
}
h1{
    font-size: 28px;
    font-family: "GothamProBold", sans-serif;
}
h2{
    text-transform: uppercase;
    padding: 30px 0;
    letter-spacing: 1.5px;
    color: #2c4058;
    font-family: "GothamProBold", sans-serif;
}
h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #2c4058;
    font-family: "GothamProBold", sans-serif;
}
button{
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid;
    padding: 10px 30px;
    font-family: "GothamProRegular", sans-serif;
    letter-spacing: 1px;
}
form{
    text-align: right;
    height: 150px;
    position: relative;
    font-family: "GothamProRegular", sans-serif;
    letter-spacing: 1px;
}
ul{
    font-family: "GothamProLight", sans-serif;
    letter-spacing: 1px;
}
h2::before{
    content: '';
    width: 60px;
    border-top: 1px solid;
    margin: 25px auto;
    display: block;
}
.header .col-padding{
    padding: 10px 0;
}
.footer .col-padding{
    padding: 15px 0;
}
.footer .flex{
    padding-top: 10px;
}
#panorama-container.open{
    z-index: 100;
}
.container{
    width: 12rem;
    text-align: center;
}
.page {
  overflow-x: hidden;
}
.uppercase{
  text-transform: uppercase;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
.card{
  width: 100%;
  position: relative;
}
.dropdown_menu{
    display: none;
    font-size: 1.5em;
}
.flex{
    display: flex;
    justify-content: center;
}
.video figcaption{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.video p{
    font-size: 8px;
    color: #ffffff;
    line-height: 10px;
    letter-spacing: .8px;
}
.card-action{
    position: relative;
}
#video_trigger{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
}
.video_box{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
}
.close{
    top: 0;
}
#contact .card{
  padding: 20px;
}
.card .border{
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
}
.relative{
    position: relative;
    padding: 30px 0 140px;
    color: #ffffff;
}
#about_us .cards_wrap{
    position: absolute;
    bottom: -100px;
}
#about_us .hidden-xs{
  display: none;
}
#about_us .video{
    position: relative;
}
#about_us{
    text-align: center;
}
#about_us .subtitle{
    font-size: 12px;
    font-family: "GothamProRegular", sans-serif;
    letter-spacing: 5px;
}
.card .wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.card-action{
    background: url('../images/play_03.png') no-repeat 0 0;
    background-size: contain;
    padding-left: 35px;
    line-height: 15px;
    height: 25px;
}
.card-action b{
    font-size: 14px;
}
.card-action p{
    font-size: 10px;
}
#wrap{
  background: url('../images/nastyas_study_01.jpg') no-repeat 0 0;
    background-size: cover;
}
.logo{
  background: url('../images/nastyas_studyee_03.png') no-repeat 0 0;
  background-size: contain;
  height: 45px;
    width: 200px;
}
.s-network{
    height: 50px;
    width: 50px;
    display: inline-block;
}
.fb{
  background: url('../images/nafggstyas_study_06.png') no-repeat 0 0;
  background-size: contain;
}
.tw{
  background: url('../images/nastykdgas_study_08.png') no-repeat 0 0;
  background-size: contain;
}
.ig{
  background: url('../images/nastyzzas_study_10.png') no-repeat 0 0;
  background-size: contain;
}
nav ul li{
  display: block;
  color: #ffffff;
    font-size: 14px;
}
.title_link{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.target_name{
  display: none;
    font-family: "GothamProRegular", sans-serif;
    letter-spacing: .5px;
}
.link_first{
  box-shadow: -1px 3px 57px -17px rgba(125,125,125,0.65);
}
.shadow{
  width: 100%;
  position: relative;
}
#projects small{
    display: none;
}
#projects span{
    font-size: 10px;
    display: block;
}
#projects{
    margin-top: 100px;
}
#projects .icon{
  height: 20px;
  display: inline-block;
    vertical-align: middle;
}
#projects .apartment{
  background: url('../images/nastyasaaaaa_study_03.png') no-repeat 0 0;
  background-size: contain;
  width: 20px;
}
#projects .villas{
  background: url('../images/nastyaslll_study_05.png') no-repeat 0 0;
  background-size: contain;
  width: 19px;
}
#projects .trade_center{
  background: url('../images/nastyapwps_study_07.png') no-repeat 0 0;
  background-size: contain;
  width: 22px;
}
#projects .skyscraper{
  background: url('../images/nastyas_stu..dy_09.png') no-repeat 0 0;
  background-size: contain;
  width: 20px;
}
#projects .mansion{
  background: url('../images/nastya]das_study_11.png') no-repeat 0 0;
  background-size: contain;
  width: 32px;
}
#projects .card_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    height: 170px;
    padding: 20px 0;
    text-align: left;
}
.card_content p{
  font-size: 8px;
  letter-spacing: .7px;
}
#projects .card-image{
    width: auto;
    height: 185px;
    overflow: hidden;
}
#projects .card{
   display: block;
}
#projects button{
    width: 140px;
    padding: 15px 0;
    font-size: 10px;
}
#projects nav{
    padding: 0 0 20px 0;
}
#news .card{
    height: 100%;
}
#news h2{
    color: #ffffff;
}
#news{
    background: url('../images/nastyas_stрррudy_03_03.jpg') no-repeat 0 0;
    position: relative;
    width: 100%;
    background-size: cover;
    padding:0 0 80px;
}
#news figcaption{
    text-align: left;
    padding: 20px;
}
#news .content{
    font-size: 14px;
    letter-spacing: .6px;
    padding: 10px 0 20px 0;
}
.author .uppercase{
    font-size: 14px;
    letter-spacing: .6px;
}
.author .date{
    font-size: 12px;
    color: #55b7ff;
}
.swiper-container {
    width: 100%;
    height: 80%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullets{
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 20px 0;
}
.swiper-button-prev, .swiper-button-next{
    background-image: none;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-pagination-bullet{
    background: none;
    border: 1px solid #ffffff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #ffffff;
}
figcaption img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
figcaption .author{
    display: inline-block;
    vertical-align: middle;
}
#gallery-container .unpadding{
    padding: 0;
}
#gallery-container .unmargin{
    margin: 0;
}
#gallery-container .padding-b{
    padding-bottom: 5px;
}
#gallery-container .padding-t{
    padding-top: 5px;
}
#gallery-container .padding-r{
    padding-right: 5px;
}
#gallery-container .padding-l{
 padding-left: 5px;
}
#gallery-container .pad-b-r-mobile{
    padding-bottom: 5px;
    padding-right: 0;
}
#gallery-container .pad-mobile{
    padding-top: 5px;
}
#gallery-container img{
    width: 100%;
    height: 100%;
}
#gallery-container button{
    margin: 20px;
}
.credit{
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #fff;
}
#panorama-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.9);
    transform: scale(0,0);
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#panorama-container.open {
    opacity: 1;
    transform: scale(1,1);
}
.photo:hover {
    border-color: #000;
}

#progress-bar {
    position: fixed;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #fff;
    transition: opacity 0.5s ease;
}

.close {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.close > i {
    color: #fff;
    font-size: 44px;
}

#main-container {
    width: 100%;
    height: 80%;
    align-self: center;
    background-color: #000;
}
#contact .container{
    position: relative;
}
#contact .card{
    background: #ffffff;
    position: absolute;
    bottom: -80px;
    padding: 0 40px 40px 40px;
}
#contact .card-content{
    text-align: left;
}
.map{
    width: 100%;
    margin-bottom: -10px;
}
.contact_item+.contact_item{
    margin-top: 10px;
}
.contact_item{
    font-size: 12px;
    letter-spacing: 1px;
}
.input-field input{
    border: none;
    border-bottom: 1px solid;
    padding: 15px 0 7px;
    width: 100%;
}
.input-field{
    text-align: left;
}
.input-field input::placeholder{
    font-size: 12px;
}
form button{
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer{
    padding-top: 100px;
    background: url('../images/nastyas_fhlstudy_06.jpg') no-repeat 0 0;
    text-align: center;
    background-size: cover;
}
.footer small{
    font-size: 9px;
    color: #ffffff;
    letter-spacing: .7px;
}
@media (min-width: 360px){
    form{
        height: 150px;
    }
    .relative{
        padding: 30px 0 170px;
    }
    .contact_item+.contact_item{
        margin-top: 20px;
    }
    .contact_item{
        font-size: 14px;
    }
    .container{
        width: 14rem;
    }

    .video p{
        font-size: 10px;
    }
    .input-field input{
        width: 100%;
    }
    #news{

    }
}
@media (max-width: 360px){
    #contact .container-width{
        width: 100%;
    }
}
@media (min-width: 375px){
    #news{

    }
}
@media (min-width: 480px){
    .container{
        width: 18rem;
    }
    .video p{
        font-size: 12px;
    }
    #about_us .cards_wrap{
        width: 70%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -100px;
    }
    #projects .card-image{
        width: 60%;
    }
    #projects .card_content{
        padding: 20px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #tab_container{
        padding-bottom: 20px;
    }
    #projects .card{
        display: flex;
    }
}
@media (min-width: 533px){
    .container{
        width: 22rem;
    }
    h2{
        font-size: 35px;
    }
}
@media (min-width: 610px){
    .container{
        width: 20rem;
    }
}
@media (min-width: 620px){
    .container{
        width: 22rem;
    }
}
@media (min-width: 640px){
    .container{
        width: 24rem;
    }
    #about_us .cards_wrap{
        width: 60%;
    }
}
@media (min-width: 32rem) {
    .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .around-sm {
        justify-content: space-around
    }

    .between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}
@media (min-width: 660px){
    h2{
        font-size: 45px;
    }
    h2::before{
        content: '';
        width: 100px;
        border-top: 1px solid;
        margin: 25px auto;
        display: block;
    }
    .relative{
        padding: 30px 0 190px;
    }
  .container{
    width: 26rem;
  }
    #projects small{
        display: block;
        font-size: 8px;
    }
    .map{
        margin-bottom: -10px;
    }
  #wrap nav ul li{
    display: inline-block;
  }
    #contact .card{
        left: 0;
        bottom: -100px;
    }
  .footer li{
    display: inline-block;
  }
  .footer{
      padding-top: 150px;
  }
}
@media (min-width: 732px){
    .container{
        width: 28rem;
    }
}
@media (min-width: 732px){
    .relative{
        padding: 30px 0 210px;
    }
}
@media (min-width: 768px){
    .header .col-padding{
        padding: 0;
    }
    .header{
        padding: 30px 0 50px;
    }
    h1{
        font-size: 55px;
    }
    .align-left{
        text-align: left;
    }
    .flex{
        justify-content: flex-start;
    }
    #wrap nav ul li{
        font-size: .5em;
    }
  .container{
    width: 30rem;
  }
  .container-width{
    width: 25rem;
  }
    .box-container{
        width: 470px;
    }
  .logo{
      display: flex;
  }
    #about_us{
        position: relative;
    }
    .dropdown_trigger{
        position: relative;
        padding: 10px;
    }
    .dropdown_menu{
        background: #ffffff;
        position: absolute;
        display: block;
        opacity: 0;
        left: 0;
        top: 34px;
        z-index: 100;
        width: 200px;
        transform: translateY(-250px);
        overflow: hidden;
        border: 1px solid #f9f9f9;
    }
    .dropdown-item{
        color: #2c4058;
        padding: 10px 20px 10px 5px;
        width: 100%;
    }
    .dropdown-item:hover{
        box-shadow: 0 2px 47px -8px rgba(0,0,0,0.2);
    }
    .dropdown_trigger:hover .dropdown_menu{
        opacity: 1;
        transform: translateY(0);
    }
    .dropdown_trigger:hover{
        cursor: pointer;
        background: #ffffff;
        color: #2c4058;
    }
    .video p{
        font-size: 8px;
    }
  .relative{
      position: relative;
      padding-bottom: 0;
  }
    #projects .card-image{
        height: auto;
    }
    #projects .card_content{
        height: auto;
    }
    .video figcaption{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 50px 20px 20px;
    }
    #about_us .cards_wrap{
      width: 80%;
      height: 220px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      bottom: -70px;
  }
    #about_us img{
        height: 100%;
    }
    #about_us .video{
        height: 100%;
        width: 50%;
        position: absolute;
        left: 3%;
        top: 15%;
    }
  #about_us .hidden-xs{
    display: flex;
      height: 100%;
      width: 50%;
      position: absolute;
      right: 3%;
  }
  .social-networks{
      display: flex;
      justify-content: flex-end;
  }
    .s-network+.s-network{
        margin-left: 15px;
    }
    .s-network{
    height: 20px;
    width: 20px;
      display: flex;
  }
    .target_name{
        font-size: 7px;
        display: block;
        width: auto;
        height: auto;
        padding-top: 8px;
    }
    .target_name::before{
        content: '';
        width: 30px;
        height: 1px;
        border-top: 1px solid;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 0;
        margin: auto;
    }
    .shadow{
        width: 100%;
        height: 100px;
        padding: 20px;
        position: relative;
    }
    #projects .icon{
        height: 50px;
        display: inline-block;
    }
    #projects .apartment{
        background: url('../images/nastyasaaaaa_study_03.png') no-repeat 0 0;
        background-size: contain;
        width: 50px;
    }
    #projects .villas{
        background: url('../images/nastyaslll_study_05.png') no-repeat 0 0;
        background-size: contain;
        width: 47px;
    }
    #projects .trade_center{
        background: url('../images/nastyapwps_study_07.png') no-repeat 0 0;
        background-size: contain;
        width: 54px;
    }
    #projects .skyscraper{
        background: url('../images/nastyas_stu..dy_09.png') no-repeat 0 0;
        background-size: contain;
        width: 49px;
    }
    #projects .mansion{
        background: url('../images/nastya]das_study_11.png') no-repeat 0 0;
        background-size: contain;
        width: 74px;
    }
    .card_content p{
        font-size: 18px;
    }
    #news{

    }
    #gallery-container .pad-b-r-mobile{
        padding-bottom: 0;
        padding-right: 10px;
    }
    #gallery-container .pad-mobile{
        padding-top: 0;
    }
    .nav li{
        display: flex;
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .nav{
        display: flex;
        width: 100%;
    }
    footer{
        padding: 150px 0 80px;
    }
    .footer .col-padding{
        padding: 30px 0 40px;
    }
    .footer .nav{
        font-family: "GothamProLight", sans-serif;
    }
}
@media (max-width: 800px){
    .s-network{
        height: 25px;
        width: 17px;
    }

}
@media (max-width: 768px){
    #gallery-container .pad-b-r-mobile {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 0;
    }
}
@media (max-width: 510px){
    #gallery-container .pad-b-r-mobile {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 5px;
    }
}
@media (min-width: 1024px){
    .box-container{
        width: 420px;
    }
    .dropdown_menu{
        font-size: 2.5em;
    }
    .s-network{
        height: 20px;
        width: 20px;
    }
    #wrap nav ul li{
        font-size: .4em;
    }
    #about_us .cards_wrap{
        height: 250px;
    }
    #about_us .video{
        width: 60%;
        left: -6%;
    }
    #about_us .hidden-xs{
        width: 60%;
        right: -6%;
    }
    #projects h3{
        font-size: 30px;
        line-height: 25px;
    }
    #projects span{
        font-size: 15px;
    }
    #projects nav{
        padding: 0 0 80px 0;
    }
    #projects .card_content{
        justify-content: space-around;
    }
    #projects{
        background-image: url('../images/nastyas_study_02.png');
        background-repeat: no-repeat;
        background-position: 0% 80%;
        background-size: 410px;
    }
    #projects small{
        font-size: 12px;
    }
    #news{

    }
    .swiper-button-prev, .swiper-button-next{
        top: 54%;
        width: 35px;
        height: 35px;
    }
    .swiper-button-prev{
        left: 9%;
    }
    .swiper-button-next{
        right: 9%;
    }
    .swiper-button-prev::before{
        content: '';
        background: url('../images/nastyas_study_03.png') no-repeat 0 0;
        height: 35px;
        width: 35px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    .swiper-button-next::before{
        content: '';
        background: url('../images/nastyas_study_05.png') no-repeat 0 0;
        height: 35px;
        width: 35px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    #contact .card{
        text-align: center;
        padding: 0 40px 60px 40px;
    }
}
@media (max-width: 1200px){
    header.header .wrap {
        justify-content: center;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1200px;
    }
    .container-width{
        width: 750px;
    }
    #about_us .cards_wrap{
        height: 300px;
    }
    #projects span{
        font-size: 25px;
    }
    #tab_container{
        padding: 0 45px;
    }
    #projects h3{
        font-size: 45px;
        line-height: 38px;
    }
    #projects nav{
        padding: 0 150px 80px;
    }
    #projects .card_content{
        padding: 30px 20px;
    }
    #projects .card-image{
        height: 400px;
    }
    #projects{
        padding: 30px 0 100px;
    }
    #projects{
        background-repeat: no-repeat;
        background-position: 0% 65%;
        background-size: 480px;
    }

}
@media (min-width: 1366px){
    h1{
        letter-spacing: 5px;
        font-size: 60px;
    }
    .header{
        padding: 30px 0 50px;
    }
    #wrap nav ul li{
        font-size: .6em;
    }
    #projects nav{
        padding: 0 40px 80px;
    }
    .box-container{
        width: 535px;
    }
    .video p{
         font-size: 16px;
        line-height: 25px;
     }
    #about_us .cards_wrap{
        height: 320px;
    }
    .video figcaption{
        padding: 20px 70px 20px 40px;
    }
    #about_us .video{
        width: 50%;
        left: 3%;
    }
    #about_us .hidden-xs{
        width: 50%;
        right: 3%;
    }
    .s-network{
        height: 40px;
        width: 40px;
    }
    .target_name{
        font-size: 12px;
    }
    #news .card-image{
        height: 50%;
    }
    #news figcaption{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .swiper-container{
        height: 450px;
    }
    #news h3{
        font-size: 18px;
    }
    figcaption .author{
        padding-left: 10px;
    }
    #news{

    }

}
@media (min-width: 1200px) and (max-width: 1366px){
    #about_us .cards_wrap .video p {
        font-size: 16px;
        line-height: 25px;
    }
    #about_us .cards_wrap {
        width: 54%;
    }
}
@media (min-width: 768px) and (max-width: 1300px){
    .logo {
        height: 25px;
        width: 100px;
    }
}
