@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: "GothamProRegular",sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
h1{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2{
    font-size: 22px;
    text-transform: uppercase;
}
h3{
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 0 20px;
}
h4{
    font-size: 15px;
    padding: 30px 0 20px;
}
.carousel .text{
    margin-bottom: 20px;
    font-size: 12px;
}
.btn{
    padding: 10px 40px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background: #646464;
    text-transform: uppercase;
    color: #ffffff;
}
.block-margin{
    margin-bottom: 40px;
}
.page {
    overflow-x: hidden;
    position: relative;
}
.container{
    width: 12rem;
}
.center{
    text-align: center;
}
.header{
    text-transform: uppercase;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-list{
    display: none;
}
.list{
    list-style: none;
}
.hamburger{
  background: url('../images/ham.png') no-repeat 0 0;
    background-size: contain;
  height: 20px;
  width: 20px;
}
.dropdown{
    height: 400px;
    width: 100%;
    background-color: white;
    color: #646464;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.on{
    display: flex;
}
.popup_wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 400;
    display: none;
}
.active{
    display: block;
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 500;

}
.input{
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
}
.close_popup{
    background: url('../images/mobilgggggge_03.png') no-repeat 0 0;
    height: 15px;
    width: 15px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup .btn{
    margin-bottom: 20px;
}
.logo{
  background: url('../images/logo.png') no-repeat 0 0;
    background-size: contain;
  height: 55px;
  width: 70px;
}
.close{
    background: url('../images/mobilgggggge_03.png') no-repeat 0 0;
    height: 18px;
    width: 18px;
    background-size: contain;
    opacity: 0;
}
.carousel{
  position: relative;
  height: 100%;
    color: #ffffff;
}
.swiper-button-prev_s_1::before{
    display: none;
}
 .swiper-button-next_s_1::before{
     display: none;
 }
.swiper-button-prev_s_1{
    display: none;
}
.swiper-button-next_s_1{
    display: none;
}
.slide-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 30px;
}
.shadow{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .img{
  width: 100%;
  height: 100%;
}
.swiper-slide .img-mini{
    width: 100%;
    height: 200px;
}
.swiper-pagination-bullet{
    background: #ffffff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #646464;
    opacity: 1;
}
.s_1{
    height: 450px;
}
.hidden-lg{
    display: block;
}
.hidden-xs{
    display: none;
}
.mini-slider{
    position: relative;
    height: 300px;
    width: 100%;
}
.swiper-slide{
    align-items: flex-start;
}
.swiper-button-prev_s_2, .swiper-button-next_s_2{
    background-image: none;
    top: 255px;
    width: 50px;
}
.swiper-button-prev_s_2::before{
    content: '';
    background: url('../images/mobilehj_03.png') no-repeat 0 0;
    height: 50px;
    width: 50px;
    z-index: 100;
    display: block;
    background-size: contain;
}
.swiper-button-next_s_2::before{
    content: '';
    background: url('../images/mobjghjile_05.png') no-repeat 0 0;
    height: 50px;
    width: 50px;
    z-index: 100;
    display: block;
    background-size: contain;
}
.swiper-button-prev_s_2{
    left: 85px;
}
.swiper-button-next_s_2{
    right: 85px;
}
.footer{
    height: 400px;
}
.map{
    width: 100%;
    height: 100%;
}
@media only screen and (min-width : 500px){
    .popup{
        width: 300px;
    }
}
/* Small Devices, Tablets */
@media (max-width : 768px){
    .swiper-button-next_s_2,
    .swiper-button-prev_s_2{
        display: none;
    }
    .container {
        width: 315px;
    }
    .mini-slider.container{
        width: 12rem;
    }
    .s_2 .swiper-pagination-bullets{
        bottom: 105px;
    }
}
@media (max-width : 1500px){
    .mini-slider .swiper-button-next_s_3 {
        right: -40px;
        top: 25%;
    }
    .mini-slider .swiper-button-prev_s_3 {
        left: -40px;
        top: 25%;
    }
    .mini-slider .swiper-button-next_s_3::before,
    .mini-slider .swiper-button-prev_s_3::before{
        height: 30px;
    }
}
@media only screen and (min-width : 768px) {
    h1{
        margin-bottom: 30px;
        font-size: 40px;
    }
    .carousel .text{
        margin-bottom: 30px;
    }
    .swiper-button-next_s_1{
        right: 60px;
    }
    .swiper-button-prev_s_1{
        left: 60px;
    }
    .swiper-button-prev_s_1::before{
        content: '';
        background: url('../images/arrow1_03.png') no-repeat 0 0;
        height: 50px;
        width: 50px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    .swiper-button-prev_s_1,
    .swiper-button-next_s_1{
        display: block;
        background: none;
    }
    .swiper-button-next_s_1::before{
        content: '';
        background: url('../images/arrow2_03.png') no-repeat 0 0;
        height: 50px;
        width: 50px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    .container{
        width: 28rem;
    }
    .container-width{
        width: 20rem;
    }
    .hamburger{
        display: none;
    }
    .navbar{
        padding: 10px 30px;
    }
    .nav-list{
        text-transform: uppercase;
        display: flex;
        width: 430px;
        justify-content: space-between;
        font-size: 12px;
    }
    .close{
        display: none;
    }
    .nav-link{
        text-decoration: none;
        color: #646464;
    }
    .hidden-lg{
        display: none;
    }
    .hidden-xs{
        display: block;
    }
    .slide-content{
        padding: 30px 130px;
    }
    .s_3{
        width: 100%;
        height: 250px;
        margin: 20px auto;
    }
    .swiper-slide .img-mini{
        height: 130px;
    }
    .swiper-button-prev_s_3, .swiper-button-next_s_3{
        top: 180px;
        background: none;
    }
    .swiper-button-prev_s_3::before{
        content: '';
        background: url('../images/mobilehj_03.png') no-repeat 0 0;
        height: 50px;
        width: 50px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    .swiper-button-next_s_3::before{
        content: '';
        background: url('../images/mobjghjile_05.png') no-repeat 0 0;
        height: 50px;
        width: 50px;
        z-index: 100;
        display: block;
        background-size: contain;
    }
    .mini-slider{
        height: 100%;
    }
    .swiper-button-next_s_3{
        right: 220px;
    }
    .swiper-button-prev_s_3{
        left: 220px;
    }
    .swiper-button-next_s_2,
    .swiper-button-prev_s_2{
        display: block;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 1000px) {
    h1{
        font-size: 60px;
    }
    .container{
        width: 37rem;
    }
    .container-width{
        width: 25rem;
    }
    .slide-content{
        margin-top: 80px;
        padding: 30px 130px;
    }
    .s_1{
        height: 500px;
    }
    .popup{
        width: 400px;
    }

}
@media only screen and (min-width : 1300px) {

    .s_1{
        height: 650px;
    }
    .slide-content{
        margin-top: 100px;
        padding: 30px 430px;
    }

}
@media only screen and (min-width : 1500px) {

    .container{
        width: 48rem;
    }
    .container-width{
        width: 35rem;
    }
    .swiper-slide .img-mini{
        height: 200px;
    }
    .swiper-button-prev_s_3, .swiper-button-next_s_3{
        top: 250px;
        width: 50px;
        height: 50px;
    }
    .swiper-button-next_s_3{
        right: 0;
    }
    .swiper-button-prev_s_3{
        left: 0;
    }
    .s_3{
        height: 300px;
    }
    .mini-slider .swiper-button-next_s_3 {
        right: -40px;
        top: 25%;
    }
    .mini-slider .swiper-button-prev_s_3 {
        left: -40px;
        top: 25%;
    }
}